.ir{
    border: 1px solid red;
  width: 100px;
  height: 100px;
  
  background:url(http://heem.net/fastcampus/2/image2.png) no-repeat 0 0;
  text-indent:-9999px;
}

.facebook{
  background-position: -200px 0;
}