div {font-size:14px; color:#727272; padding-right: 12px; padding-left: 12px;

}

div.active {font-size:14px; color:#829c00; float: left; padding-right: 24px; 

}

h1 {color: blueviolet

}

.box {

font-style: 20px; padding: 25px;



}